{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>

    {% for entry in personQuery %}

        <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.surname }}</td>
            <td>{{ entry.phone }}</td>
            <td>{{ entry.email }}</td>
            <td><a href="{{ path('person_edit', {'name': entry.name, 'id': entry.id}) }}">Edit</a></td>
            <td><a href="{{ path('person_delete', {'name': entry.name, 'id': entry.id}) }}">Delete</a></td>
        </tr>

    {% endfor %}

    </table>

    {{ pagerfanta(personQuery) }}

{% endblock %}
